@using Microsoft.AspNetCore.Components.Web
@using geometrifessor.Models
@using geometrifessor.Services
@inject JsonEmneService EmneService
<div class="container">
    <div class="row">
        @foreach (var emne in EmneService.GetEmner())
        {
            <div class="col-md-4 mb-3 d-flex align-self-stretch">
                <div class="card" style="width: 18rem;">
                    <img src="@emne.Image" class="card-img-top" alt="" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-uppercase"><button class="btn btn-primary" href="#">@emne.Title - Beregner</button></h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>