@using Microsoft.AspNetCore.Components.Web
@using geometrifessor.Models
@using geometrifessor.Services
@inject JsonEmneService EmneService
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <nav id="navbar-beregner" class="navbar navbar-light bg-light">
                <ul class="nav nav-pills flex-sm-column">
                    <li class="nav-item"><a class="nav-link active" href="#retvinklet-trekanter">Retvinklet
                            trekanter</a></li>
                    <li class="nav-item"><a class="nav-link" href="#vilkårlige-trekanter">Vilkårlig trekanter</a></li>
                    <li class="nav-item"><a class="nav-link" href="#firkanter">Firkanter</a></li>
                    <li class="nav-item"><a class="nav-link" href="#femkanter">Femkanter</a></li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <div data-spy="scroll" data-target="#navbar-beregner" data-offset="0" class="scrollspy">
                @foreach (var emne in EmneService.GetEmner())
                {
                    <h1 id="@emne.Id">@emne.Title</h1>
                    @if (emne.Id == "retvinklet-trekanter")
                    {
                        <h4>Indtast dine to værdier</h4>

                        <form>
                            <div>linje a <input type="number" id="a"></div>
                            <div>linje b <input type="number" id="b"></div><br />
                            <input class="btn btn-primary" type="reset">
                            <button class="btn btn-primary" onclick="beregnC()">Beregn</button>
                        </form>
                        <p id="cer"></p>
                        <p id="Areal"></p>

                        <svg version="1.1" x="0px" y="0px" viewBox="0 0 300 300" width="300px" height="300px">
                            <polygon id="retvinklettrekant" class="st0" points="10,10 10,100 100,100 " />
                            <!-- polygon kan lave figurer i med forskelligt antal sider se https://www.w3schools.com/graphics/svg_polygon.asp.-->
                </svg>
                    }
                    else if (emne.Id == "vilkårlige-trekanter")
                    {
                        <h2>Ligebenet trekant</h2>

                        <h4>Indtast dine værdier</h4>

                        <form>
                            <div>linje a <input type="number" id="vilkårlig-a"></div>
                            <div>linje b <input type="number" id="vilkårlig-b"></div><br />
                            <input class="btn btn-primary" type="reset">
                            <button class="btn btn-primary" onclick="beregnBen()">Beregn</button>
                        </form>
                        <p id="vilkårlig-cer"></p>
                        <p id="Areal"></p>

                        <svg version="1.1" x="0px" y="0px" viewBox="0 0 300 300" width="300px" height="300px">
                            <polygon id="ligebenettrekant" class="st0" points="50,10 10,150 100,150 " />
                            <!-- polygon kan lave figurer i med forskelligt antal sider se https://www.w3schools.com/graphics/svg_polygon.asp.-->
                </svg>

                        <h2>Ligesidet trekant</h2>

                        <h4>Indtast din værdi</h4>

                        <form>
                            <div>linje a <input type="number" id="ligesidet-a"></div><br />
                            <input class="btn btn-primary" type="reset">
                            <button class="btn btn-primary" onclick="beregnSide()">Beregn</button>
                        </form>
                        <p id="ligesidet-cer"></p>
                        <p id="Areal"></p>

                        <svg version="1.1" x="0px" y="0px" viewBox="0 0 300 300" width="300px" height="300px">
                            <polygon id="ligesidettrekant" class="st0" points="50,10 10,100 100,100 " />
                            <!-- polygon kan lave figurer i med forskelligt antal sider se https://www.w3schools.com/graphics/svg_polygon.asp.-->
                </svg>
                    }
                }
            </div>
        </div>
    </div>
</div>