@using Microsoft.AspNetCore.Components.Web
@using geometrifessor.Models
@using geometrifessor.Services
@inject JsonEmneService EmneService
<div class="container"> <!-- her bruger vi bootstraps container system til at vise de forskellige emner med fint layout-->
    <div class="container position-relative">
        <div class="row h-100 mt-5">
            <aside class="col-md-3 bg-light" id="left">
                <div class="mt-5 mb-3 sticky-top" id="side">
                    <nav class="nav flex-md-column flex-row justify-content-between" id="Scrollspy"> <!-- vi bruger bootstrap til at lave en fin navbar som bruger scrollspy 
                    funktionen til at opdatere navbaren. -->
                        <ul class="nav nav-pills flex-column">
                            <h1>Emner</h1>
                            <li class="nav-item">
                                <a class="nav-link active" href="#retvinklet-trekanter">Retvinklet trekanter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#ligebenet-trekanter">Ligebenet trekanter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#ligesidet-trekanter">Ligesidet trekanter</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <div class="col py-5">
                <div class="row position-relative">
                    <div class="col">
                        <div class="tab-content py-3 position-relative">
                            <div class="tab-pane active position-relative" id="tab1" role="tabpanel">
                                @foreach (var emne in EmneService.GetEmner()) // Her bruges iterationen foreach til at bestemme variablet emne in funktionen EmneService.GetEmner() 
                                //Det gør at når variable emne bruges så kalder den EmneService.GetEmner()
                                {
                                    <div id="@emne.Id">
                                        <h1>@emne.Title</h1><br />
                                        @if (emne.Id == "retvinklet-trekanter") // her bruges forgreningen if for at den kun viser data for det specifike emne.
                                        {
                                            <h4>Indtast værdierne</h4>


                                            <div>Linje a <input type="number" id="a"></div>
                                            <div>Linje b <input type="number" id="b"></div><br />
                                            <button class="btn btn-primary" onclick="beregnC()">Beregn</button>

                                            <p id="cer"></p>
                                            <p id="Areal"></p>

                                            <svg version="1.1" x="0px" y="0px" viewBox="0 0 300 300" width="300px"
                                        height="300px">
                                                <polygon id="retvinklettrekant" class="st0" points="10,10 10,100 100,100 " />
                                                <!-- polygon kan lave figurer i med forskelligt antal sider se https://www.w3schools.com/graphics/svg_polygon.asp.-->
                                    </svg>
                                        }
                                        else if (emne.Id == "ligebenet-trekanter") // her bruges forgreningen else if for at den kun viser data for det specifike emne. Else if gør at hvis den ikke er "retvinklet-trekanter" så hvis id er lig "ligebenet-trekanter" så vis det pågældende data
                                        {
                                            <h4>Indtast værdierne</h4>

                                            <div>Linje a <input type="number" id="vilkårlig-a"></div>
                                            <div>Linje b <input type="number" id="vilkårlig-b"></div><br />
                                            <button class="btn btn-primary" onclick="beregnBen()">Beregn</button>
                                            <p id="vilkårlig-cer"></p>
                                            <p id="Areal"></p>

                                            <svg version="1.1" x="0px" y="0px" viewBox="0 0 300 300" width="300px"
                                        height="300px">
                                                <polygon id="ligebenettrekant" class="st0" points="50,10 10,150 100,150 " />
                                                <!-- polygon kan lave figurer i med forskelligt antal sider se https://www.w3schools.com/graphics/svg_polygon.asp.-->
                                    </svg>
                                        }
                                        else if (@emne.Id == "ligesidet-trekanter") // her bruges forgreningen else if for at den kun viser data for det specifike emne. Else if gør at hvis den ikke er "ligebenet-trekanter" så hvis id er lig "ligesidet-trekanter" så vis det pågældende data
                                        {
                                            <h4>Indtast værdierne</h4>

                                            <div>Linje a <input type="number" id="ligesidet-a"></div><br />
                                            <button class="btn btn-primary" onclick="beregnSide()">Beregn</button>
                                            <p id="ligesidet-cer"></p>
                                            <p id="Areal"></p>

                                            <svg version="1.1" x="0px" y="0px" viewBox="0 0 300 300" width="300px"
                                        height="300px">
                                                <polygon id="ligesidettrekant" class="st0" points="50,10 10,100 100,100 " />
                                                <!-- polygon kan lave figurer i med forskelligt antal sider se https://www.w3schools.com/graphics/svg_polygon.asp.-->
                                    </svg>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>