@page
@using geometrifessor.Components
@model PrivacyModel
@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p>Denne side er lavet af tre elver fra 2.H på HTX Hillerød</p>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3 d-flex align-self-stretch">
            <div class="card shadow rounded" style="width: 18rem;">
                <img src="~/img/GetImage Jonas.jpg" class="card-img-top" alt="Jonas Erik Ørndrup" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-uppercase">Jonas Erik Ørndrup</h5><br/>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 d-flex align-self-stretch">
            <div class="card shadow rounded" style="width: 18rem;">
                <img src="~/img/GetImage Markus.jpg" class="card-img-top" alt="Markus Smith Nielsen" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-uppercase">Markus Smith Nielsen</h5><br/>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 d-flex align-self-stretch">
            <div class="card shadow rounded" style="width: 18rem;">
                <img src="~/img/GetImage Habib.jpg" class="card-img-top" alt="Mohammad Habib Manzur" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-uppercase">Mohammad Habib Manzur</h5><br/>
                </div>
            </div>
        </div>
    </div>
</div>
