@page
@using geometrifessor.Components
@model PrivacyModel
@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p>Denne side er lavet af disse tre elver fra 2.H på HTX Hillerød</p>

@(await Html.RenderComponentAsync<Emneliste>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
