@page "{Id}"
@using geometrifessor.Components
@using geometrifessor.Services
@using geometrifessor.Models
@inject JsonEmneService EmneService
@model GeoModel
@{
    ViewData["Title"] = "Emne";
    var value = RouteData.Values["Id"].ToString();
}
@foreach (var emne in EmneService.GetEmner())
{
    if (emne.Id == value) 
    {  
        <h1>@ViewData["Title"] - @emne.Title</h1>
        <div class="container">
            <div class="row">
                <img src="@emne.Image" class="img-fluid" alt="" />
            </div>
            <div>@(emne.Description)</div>
        </div>
    }
    
}

