@page 
@model IndexModel
@{
    ViewData["Title"] = "Forside";   // Her der defineres side titlen hvilket bruges i _Layout.cshtml
}

<!-- Her bruges bootstrap bibliotekets container system -->
<div class="container"> 
    <!-- Dette bruges til formattering af forside teksten -->
    <div class="text-center">
        <h1 class="display-4">Velkommen til Geometrifessor</h1> 
        <p>Lær Geometri med Geometrifessor.</p>
    </div>
</div>
<!-- Der slutter bootstrap container klassen -->

<!-- Her laves slideshow vha. bootstrap -->
<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators text-dark"> <!-- slideshow indikatorer defineres og de får en mørk tekst vha. text-dark som også er bootstrap derudover står indikatorne i en 'ordered list' -->
        <!-- De forskellige list tags får deres id som de er forbundet med og hvilket slide de henholdsvis skal vise. Klassen active er det slide som vises først -->
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item img-fluid active"> <!-- Der defineres at dette er et slide og det har klassen 'active' hvilket gør det er det første slide der vises -->
            <img src="img/retvinklet trekant.png" class="img-fluid" alt="Retvinklet trekant" style="height: 50rem" width="1280px"> <!-- billedet vælges og højde, bredde defineres -->
            <div class="carousel-caption d-none d-md-block text-dark"> <!-- tekst til billedet vælges og gives en mærk farve til teksten -->
                <h3>Dette er en retvinklet trekant</h3>
            </div>
        </div>
        <div class="carousel-item img-fluid"> <!-- her sker det samme som oven for -->
            <img src="img/ligesidet-trekant.png" class="img-fluid" alt="Ligesidet trekant" style="height: 50rem" width="1280px">
            <div class="carousel-caption d-none d-md-block text-dark">
                <h3>Dette er en ligesidet trekant</h3>
            </div>
        </div>
        <div class="carousel-item img-fluid"> <!-- her sker det samme som oven for -->
            <img src="img/ligebenet-trekant.png" class="img-fluid" alt="Ligebenet trekant" style="height: 50rem;" width="1280px">
            <div class="carousel-caption d-none d-md-block text-dark">
                <h3>Dette er en ligebenet trekant</h3>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev"> <!-- Her laves den knap som vælger det tidligere slide -->
            <span aria-hidden="true"><i class="fas fa-arrow-left text-dark" aria-hidden="true"></i></span> <!-- Der bruges font-awesome til at få logoet til en pil som går mod venstre -->
            <span class="sr-only">Tidligere</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next"> <!-- Her laves den knap som vælger det næste slide -->
            <span aria-hidden="true"><i class="fas fa-arrow-right text-dark" aria-hidden="true"></i></span> <!-- Der bruges font-awesome til at få logoet til en pil som går mod højre -->
            <span class="sr-only">Næste</span>
        </a>
    </div>
</div>