@page
@model ViewModel
@{
    ViewData["Title"] = "Emner";
}
<h1>@ViewData["Title"]</h1>

<p>Vælg det emne du gerne vil lære mere om.</p>
<br />

<div class="card-columns">
    @foreach (var emne in Model.Emne)
    {
        <div class="card">
            <div class="card-img" style="height: 330px; background-image: url('@emne.Image');"></div>
            <div class="card-body">
                <hr />
                <h5 class="card-title">@emne.Title</h5>
            </div>
        </div>
    }
</div>