@page
@using geometrifessor.Components
@model ViewModel
@{
    ViewData["Title"] = "Emner";
}
<h1>@ViewData["Title"]</h1>

<p>Vælg det emne du gerne vil lære mere om.</p>
<br />

@(await Html.RenderComponentAsync<Emneliste>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>

